*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color:rgb(112, 87, 32);
    --secondary-color:rgba(29, 23, 5, 0.952);
    --light-color:rgb(227, 187, 141);
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    background: radial-gradient(rgba(242, 143, 73, 0.6),rgb(112, 87, 32) 45%,black );
    min-height: 100vh;
    width: 100vw;
}

.main-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.index-btns{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.browse-btn, .sign-btn{
    height: 3rem;
    width: 5rem;
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color:var(--secondary-color);
    width: 100%;
    height: 5rem;
}

.logo{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    left: 2rem;
}
.nav-comp{
    display: flex;
    position: fixed;
    right: 2.5rem;
    gap: 2rem;
    justify-content: flex-end;
}

.nav-comp li{
    list-style-type: none;
    color:var(--light-color) ;
}

.search{
    width: 15rem;
    height: 1rem;
    padding: 0.5rem;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7rem;
}

.card-container{
    border: 10px;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--light-color);
    box-shadow: 0 0 5px rgb(227, 187, 141);
    border-radius: 1rem;
}

.card-img{
    height: 11rem;
    width: 11rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
